html {
    font-family: Helvetica;
    color: #333;
  }
  
#container{
  display: flex;
  flex-direction: row;
  height: 100vh;
}

  /*28.03. chartdiv statt drawarea*/
  #wrapper, #chartDiv {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 3px 3px 5px #aaa;
  }

  #wrapper {
    width: 20%;
  }
  
  /*28.03. chartdiv statt drawarea*/
  #chartDiv {
    width: 50%;
  }
  #wrapper > div {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #888;
  }
  
  #wrapper > div div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 3px;
    text-align: center;
  }
  
  #wrapper > div:nth-of-type(2n) {
    background: rgba(0,0,0,.2);
  }
  
  #wrapper > div:nth-of-type(2n+1) {
    background: rgba(0,0,0,.3);
  }